@charset "UTF-8";
/* CSS Document */

html {
	background-color:#CCC;
}

body {
	width: 100%; why
	margin: 0 auto;
	background-color:#FFF;
	min-width: 240px;
}

img {
	width: 100%;
	
}

.logo {
	background-image:url(../images/logo.jpg);
	width: 30%;
	float: right;
	margin: 2% 2%;
}
	
ul#connect {
			white-space:nowrap;
			width: 50px; 
}
			
#connect li {
			display:inline;
			list-style-type:none;
			opacity: 0.1;
			
}

.home {
	background-image:url(../img/kyoungheelee.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	padding: 0 0 0 0;
	border-bottom: 1px solid #000;
	}


.home h1 {
	padding: 75% 0 5% 0%;
	color:#878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 1.1em;
	line-height: 1.3em;
	}
	
.home p {
	padding: 8% 0 15% 0;
	font-size: 0.6em;
	line-height: 1.5em;
	font-family:Arial, Helvetica, sans-serif;
}
footer {
	padding: 0% 10% 3% 5%;
 }

footer ul {
	float: left;
	margin-left: 5%;
}

footer li, footer a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.6em;
	text-decoration: none;
	color:#000;
	padding: 2% 0;
	}

footer span {
	color:#878787;
	font-size: 1em;	
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1; /* You will get a CSS validator error on this line */
}


.portfolio {
	background-color:#FFF;
	background-repeat:no-repeat;
	background-size: 55%;

	background-position: 90% 0%; /*i was playing around %, it doesn't work.*/
	
	border-bottom:solid;
	border-bottom-width: 1px;
	
	padding: 10% 0 0 0;
	margin-bottom: 5%;

}

.portfolio h2 {
	padding: 10% 0 5% 0;
	color: #878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 1.1em;
	line-height: 1.3em;
}

.portfolio p {
	padding: 10% 0 5% 0;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	line-height: 1.5em;
}



figcaption {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.6em;
	font-weight:bold;
	}

figure {
	margin: 0;
	margin-bottom: 10%;
}

figure img {
	width: 100%;
}

@media only screen and (min-width: 25em) {

@charset "UTF-8";
/* CSS Document */

html {
	background-color:#CCC;
}

body {
	width: 100%;
	margin: 0 auto;
	background-color:#FFF;
	min-width: 300px;
}

img {
	width: 100%;
}

.logo {
	background-image:url(../images/logo.jpg);
	width: 20%;
	float: right;
	margin: 2% 2%;
}	


.home {
	background-image:url(../img/kyoungheelee.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	padding: 0 0 4% 57&;
	}


.home h1 {
	padding: 80% 15% 5% 10%;
	color:#878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 2em;
	}
	
.home p {
	padding: 0 15% 5% 10%;
	font-size: 0.7em;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}

footer {
	padding: 0% 10% 3% 5%;
 }

footer ul {
	float: left;
	margin-left: 5%;
}

footer li, footer a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	text-decoration: none;
	color:#000;
	padding: 2% 0;
	}

footer span {
	color:#878787;
	font-size: 0.9em;	
}


.portfolio {
	background-color:#FFF;
	background-repeat:no-repeat;
	background-size: 55%;

	background-position: 90% 0%; /*i was playing around %, it doesn't work.*/
	
	border-bottom:solid;
	border-bottom-width: 1px;
	
	padding: 10% 0 0 0;
	margin-bottom: 5%;

}

.portfolio h2 {
	padding: 0% 0 0% 0;
	color: #878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 2.4em;
}

.portfolio p {
	padding: 10% 0 5% 0;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}

figcaption {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	font-weight:bold;
	}


}

@media only screen and (min-width: 45em) {

html {
	background-color:#CCC;
}

body {
	width: 100%;
	margin: 0 auto;
	background-color:#FFF;
	min-width: 300px;
}

img {
	width: 100%;
}

.logo {
	background-image:url(../images/logo.jpg);
	width: 13%;
	float: left;
	margin: 2% 2%;
}	


.home {
	background-image:url(../img/kyoungheelee.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	padding: 0 0 4% 57&;
	}


.home h1 {
	padding: 13% 0 0% 57%;
	color:#878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 1.3em;
	}
	
.home p {
	padding: 0 10% 15% 57%;
	font-size: 0.7em;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}


.portfolio {
	background-color:#FFF;
	background-repeat:no-repeat;
	background-size: 55%;

	background-position: 90% 0%; /*i was playing around %, it doesn't work.*/
	
	border-bottom:solid;
	border-bottom-width: 1px;
	
	padding: 10% 0 0 0;
	margin-bottom: 5%;

}

.portfolio h2 {
	padding: 0% 0 0% 0;
	color: #878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 1.3em;
}

.portfolio p {
	padding: 0% 0 0% 0;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}

figcaption {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	}

footer {
	padding: 0% 10% 3% 5%;
 }

footer ul {
	float: left;
	margin-left: 5%;
}

footer li, footer a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	text-decoration: none;
	color:#000;
	padding: 2% 0;
	}

footer span {
	color:#878787;
	font-size: 1em;	
}


}

@media only screen and (min-width: 93em) {

.home h1 {
	padding: 15% 0 5% 57%;
	color:#878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 3em;
	}
	
.home p {
	padding: 0 10% 15% 57%;
	font-size: 1.3em;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}

.portfolio {
	background-color:#FFF;
	background-repeat:no-repeat;
	background-size: 55%;

	background-position: 90% 0%; /*i was playing around %, it doesn't work.*/
	
	border-bottom:solid;
	border-bottom-width: 1px;
	
	padding: 10% 0 0 0;
	margin-bottom: 5%;

}

.portfolio h2 {
	padding: 5% 5% 0% 20%;
	color: #878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 4em;
}

.portfolio p {
	padding: 0% 5% 0% 20%;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2em;
	line-height: 1em;
}

figcaption {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	font-weight:bold;
	}
	
footer {
	padding: 5% 10% 3% 5%;
 }

.column1 {
		float: left;
		width: 45%;
	}
	
	.column2 {
		float: right;
		width: 55%;
	}
	

footer ul {
	float: left;
	margin-left: 5%;
}

footer li, footer a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.3em;
	text-decoration: none;
	color:#000;
	padding: 2% 0;
	}

footer span {
	color:#878787;
	font-size: 1.3em;	
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1; /* You will get a CSS validator error on this line */
}
}


@media only screen and (min-width: 187.5em) {

body {
	width: 100%;
	margin: 0 auto;
	background-color:#FFF;
	min-width: 768px;
}

img {
	width: 100%;
}

.logo {
	background-image:url(../images/logo.jpg);
	width: 10%;
	float: left;
	margin: 2% 2%;
}
	
ul#connect {
			white-space:nowrap;
			width: 50px; 
}
			
#connect li {
			display:inline;
			list-style-type:none;
			opacity: 0.1;
			
}

.home {
	background-image:url(../img/kyoungheelee.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	padding: 0 0 4% 57&;
	}


.home h1 {
	padding: 15% 0 5% 57%;
	color:#878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 5em;
	}
	
.home p {
	padding: 0 10% 15% 57%;
	font-size: 2em;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}

.portfolio h2 {
	padding: 5% 5% 0% 20%;
	color: #878787;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 5em;
}

.portfolio p {
	padding: 0% 5% 0% 20%;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2em;
	line-height: 1em;
}

figcaption {
	font-family:Arial, Helvetica, sans-serif;
	font-size:2em;
	font-weight:bold;
	}

footer {
	padding: 0% 10% 3% 5%;
 }

footer ul {
	float: left;
	margin-left: 5%;
}

footer li, footer a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	text-decoration: none;
	color:#000;
	padding: 2% 0;
	}

footer span {
	color:#878787;
	font-size: 1.5em;	
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1; /* You will get a CSS validator error on this line */
}
}

